.search__input--Parent{
    background-color: white;
    width: 20em;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__Input{
    font-size: 1em;
    padding: 10px;
    border: .5 solid gray;
    outline: none;
}
.search__Input--Button{
    font-size: 1em;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.search__Input--Button:focus{
    outline: none;
}
