.UserAccount__main--__parent--section{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserAccount__child--__parent--section{
    display: flex;
    padding: 10px;
}

.UserAccount__child--__left--section{
    border: 1px solid black;
    height: 400px;
    width: 40%;
    margin-right: 40px;
}
.UserAccount__child--__left--profileimg--section{
    width: 100%;
    background-color: lightgray;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.UserAccount__child--__left--profileimg{
    background-color: black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 30px;
}
.UserAccount__child--__left--profileimg2{
    background-color: black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.UserAccount__child--__left--Logout--section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.UserAccount__child__right--section{
    /* border: 1px solid green; */
    width: 70%;
    padding: 20px;
}
.UserAccount__Input{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
}
.UserAccount__child__right--img__section{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.UserAccount__child__right--form__Button--section{
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.UserAccount__child__right--form__Button{
    width: 15em;
    height: 40px;
    background-color: yellow;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
}
.UserAccount__child--__logout--button{
    width: 14em;
    height: 40px;
    border: none;
    background-color: yellow;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}