.Nav__Child--1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 30px;
}
.material-symbols-outlined{
    color: white;
}
button{
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 2px;
}
.Track__section{
    display: flex;
    align-items: center;
}

.span{
    color: white;
}