.MainStrip--Parent__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.LazyStrip--Child__section{
    width: 1200px;
}

.LazyStrip--image{
    width: 100%;
}