.Nav__Parent--width{
    background-color: black;
    display: flex;
    justify-content: center;
}

.Nav__Child--1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.Track__section{
    display: flex;
    align-items: center;
}
.material-symbols-outlined{
    color: white;
    font-size: 18px;
}